.content {
  text-align: center;
  width: 500px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}
.array{
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
}
.row {
  box-sizing: border-box;
  margin-bottom: 10px;
}
